<?xml version="1.0"?>
<config>
    <modules>
        <MM_MonacoEditor>
            <version>1.0.0</version>
        </MM_MonacoEditor>
    </modules>
    <global>
        <blocks>
            <mm_monacoeditor>
                <class>MM_MonacoEditor_Block</class>
            </mm_monacoeditor>
        </blocks>
        <helpers>
            <mm_monacoeditor>
                <class>MM_MonacoEditor_Helper</class>
            </mm_monacoeditor>
        </helpers>
        <models>
            <mm_monacoeditor>
                <class>MM_MonacoEditor_Model</class>
            </mm_monacoeditor>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <mm_monacoeditor>
                    <file>mm/monacoeditor.xml</file>
                </mm_monacoeditor>
            </updates>
        </layout>
        <events>
            <cms_wysiwyg_config_prepare>
                <observers>
                    <mm_moancoeditor>
                        <type>singleton</type>
                        <class>MM_MonacoEditor_Model_Observer</class>
                        <method>disableWysywygEditor</method>
                    </mm_moancoeditor>
                </observers>
            </cms_wysiwyg_config_prepare>
        </events>
    </adminhtml>
    <default>
        <cms>
            <mm_monacoeditor>
                <enabled>1</enabled>
                <tailwindcss>1</tailwindcss>
                <tailwindcss_prefix_value>tw-</tailwindcss_prefix_value>
            </mm_monacoeditor>
        </cms>
    </default>
</config>
